[submodule "postgres"]
	path = postgres
	url = git@github.com:Egor-Koldasov/tool_starter_postgres.git
[submodule "gatsby"]
	path = gatsby
	url = git@github.com:Egor-Koldasov/tool_starter_gatsby.git
[submodule "graphql"]
	path = graphql
	url = git@github.com:Egor-Koldasov/tool_starter_graphql.git
